.attivo {
  opacity: 1;
}

.gradientNav {
  background: linear-gradient(0deg, rgb(0 0 0 / 0%) 0%, rgb(0 0 0 / 78%) 100%);
}

.pos {
  z-index: 900;
}

.hoverMenu:hover {
  background-color: rgb(77, 77, 77);
}

.hoverAvatar:hover {
  color: rgb(255, 255, 255);
  cursor: pointer;
}
