<div class="container-fluid gradientNav position-sticky top-0 pos">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 container">
    <a
      class="d-flex align-items-center px-3 mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"
    >
      <span routerLink="home" class="fs-4 fw-semibold text-white">Ngeflix</span>
    </a>

    <ul class="nav nav-pills">
      <li *ngIf="isLoggedIn" class="nav-item">
        <a
          routerLink="home"
          routerLinkActive="text-white fw-semibold"
          [routerLinkActiveOptions]="{ exact: true }"
          class="nav-link text-secondary"
          aria-current="page"
          >Home</a
        >
      </li>
      <li *ngIf="isLoggedIn" class="nav-item">
        <a
          routerLink="home/favorites"
          routerLinkActive="text-white fw-semibold"
          class="nav-link text-secondary"
          >Favorites</a
        >
      </li>
      <li *ngIf="isLoggedIn" class="nav-item">
        <a
          routerLink="users"
          routerLinkActive="text-white fw-semibold"
          class="nav-link text-secondary"
          >Users</a
        >
      </li>
      <li *ngIf="!isLoggedIn" class="nav-item">
        <a
          routerLink=""
          routerLinkActive="text-white fw-semibold"
          [routerLinkActiveOptions]="{ exact: true }"
          class="nav-link text-secondary"
          >Log In</a
        >
      </li>
      <li *ngIf="!isLoggedIn" class="nav-item">
        <a
          routerLink="signup"
          routerLinkActive="text-white fw-semibold"
          class="nav-link text-secondary"
          >Sign Up</a
        >
      </li>
      <li *ngIf="isLoggedIn">
        <div class="flex-shrink-0 dropdown">
          <a
            (click)="show()"
            [ngClass]="{ show: showBol }"
            class="d-block text-decoration-none text-secondary"
          >
            <div class="d-flex align-items-center">
              <i
                class="bi bi-person-circle fs-3 ms-2 text-secondary hoverAvatar"
              ></i
              ><i class="bi bi-caret-down-fill ms-2"></i>
            </div>
          </a>
          <ul
            [ngClass]="{ show: showBol }"
            class="dropdown-menu text-small shadow bg-dark hoverMenu"
            style="
              position: absolute;
              inset: 0px 0px auto auto;
              margin: 0px;
              transform: translate(0px, 34px);
            "
          >
            <li>
              <a class="dropdown-item text-white-50 hoverMenu">Settings</a>
            </li>
            <li>
              <a
                routerLink="profile"
                (click)="show()"
                class="dropdown-item text-white-50 hoverMenu"
                >Profile</a
              >
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a
                (click)="esci()"
                (click)="show()"
                class="dropdown-item text-white-50 hoverMenu"
                >Sign out</a
              >
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </header>
</div>
